@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(nav.css);
@import url(extra.css);
@import url(lists.css);
/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/* @font-face {
    font-family: "Railway";
    src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap") format("truetype");
  } */

html{
    --primary: #006366;
    --primary-bright: #0aa;
    --accent: #CC2614;
    --accent-light: #CC8C14;
    --background: #000;
    --background-mid: #222;
    --background-light: #333;
    --text-color: #fafafa;
    --text-color-dim: #c9c9c9;
}
.banner{
    margin-top: 60px;
    background-image: linear-gradient(to bottom right, var(--primary-bright), var(--primary));
    text-align: center;
    padding: 20px; 
}



input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio]+label:before {
    font-family: FontAwesome;
    content: "\f1db";
    letter-spacing: 10px;
    color: var(--accent)
}

input[type=radio]:checked+label:before {
    content: "\f192";
}

input[type=radio]:hover+label:before {
    font-weight: bold;
    /*color:orange;*/
}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: monospace;
    line-height: 1.5;
    margin: 0;
}

.margin .fa {
    color: var(--primary-bright);
    margin: 0 12px 0 0;
}

.hero-footer-icon{
    fill: var(--text-color);
    opacity: .6;
    aspect-ratio: 1 / 1;
    width: 1.25rem;
}
.hero-footer-icon:hover{
    opacity: 1;
}
.margin {
    margin: 60px 2% 0;
}

content {
    width: 70%;
    float: left;
}
aside {
    width: 30%;
    float: left;
}
.twenty{
    width: 20%;
    float: left;
}
.fifty{
    width: 50%;
    float: left;
}

article {
    background-color: var(--background-mid);
    border-radius: 10px;
    overflow: hidden;
    margin: 2% 1%;
    /*padding: 2%;*/
    box-shadow: 0 1px 2px 0 var(--background-light);
}

article img {
    width: 100%;
}



/*Extras*/

h1,
h2,
h3,
h4 {
    color: var(--text-color);
    margin-left: 15px;
}

h1 {
    font-size: 36px;
    margin-bottom: 0px;
    font-weight: 300;
}

h3 {
    color: var(--text-color-dim);
    margin-inline-start: 15px;
    margin-block-end: 0;
    font-size: 20px;
}


h5 {
    background-color: var(--primary-bright);
    color: var(--text-color);
    display: inline-block;
    margin: 0 3px;
    border-radius: 6px;
    padding: 4px 8px;
}

h6 {
    display: inline-block;
    color: var(--primary-bright);
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 12px;
    font-size: 15px;
}

.textA {
    margin: 0 15px;
    font-size: 16px;
    color: var(--text-color);
    text-align: justify;
}

.textB {
    margin: 10px 20px;
    font-size: 18px;
    color: var(--text-color);
    text-align: justify;
}

hr {
    margin: 10px;
    border-top: 1px solid var(--text-color);
}



/*Extras*/

.textInput {
    float: left;
    width: 100%;
}

.textInput p {
    margin: 5px 10px 5px 20px;
    font-size: 18px;
    width: 80px;
    float: left;
    color: var(--text-color);
}


.textInput input {
    padding: 3px 8px;
    margin: 8px 4px;
    border: 2px solid var(--text-color);
    border-radius: 4px;
}

.radios {
    margin: 5px 40px;
    font-size: 17px;
    color: #777;
}

form button {
    float: right;
    margin: 2px 12px 12px 2px;
    width: 100px;
    padding: 10px 15px;
    border: 2px solid var(--primary-bright);
    background-color: var(--background-light);
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
}

form button:hover {
    background-color: var(--primary-bright);
    /* Green */
}

form button:active {
    background-color: var(--primary);
}

button .fa {
    margin: 0 !important;
}

textarea {
    width: 70%;
    height: 80px;
    margin: 0 10%;
    font-size: 17px;
    background-color: var(--background-light);
    resize: none;
    padding: 3px 8px;
    border: 2px solid var(--text-color);
    border-radius: 4px;
}


/*Skills*/
.SkillBar {
    background-color: var(--background-light);
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.SkillBar div {
    font-size: 14px;
    color: var(--text-color);
    font-weight: bold;
    animation-name: widthzero;
    animation-duration: 4s;
}

@keyframes widthzero {
    from {
        width: 0%
    }
}
/*Skills*/

.picturebox {
    text-decoration: none;
}

.picturebox h1 {
    text-align: center;
    height: 80px;
    line-height: 80px;
    margin: 0;
}

.buttonlist button:hover {
    background-color: var(--accent-light);
    cursor: pointer;
}

.buttonlist button:active {
    background-color: var(--accent);

    color: var(--background-light);
}

@media only screen and (max-width: 970px) {

    .margin {
        font-size: 90%;
    }

    content,
    aside {
        width: 50%;
    }
    .twenty{
        width: 100%;
    }
    .fifty{
        width: 50%;
    }
}
@media only screen and (max-width: 800px)
{
    nav ul {
        background-color: var(--background-light);
        width: 100%;
        display: block;
    }
    nav ul li{
        display: inline;

        float: right;
    }
    .fa-bars {
        display: inline-block;
    }
}
@media only screen and (max-width: 600px)

{
    .margin {
        font-size: 90%;
    }
    
    .margin {
        line-height: 25px;
        border-radius: 5px;
    }
    content,
    aside {
        width: 100%;
    }
    .fifty, .twenty{
        width: 100%;
    }
}